<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Show this post", @post %> |
  
  <%= button_to "Destroy this post", @post, method: :delete %>
  <%= link_to "Back to posts", posts_path %>
</div>
